@charset "UTF-8";

body {
    font-family: "Yu Gothic Medium", "遊ゴシック Medium", YuGothic, "遊ゴシック体", "ヒラギノ角ゴ Pro W3","sanf-serif";
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

/*
----------header*/
#top {
    background-image: url(./images/woman.jpg);
    min-height: 100vh;
}
.background {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    width: 100%;
}
.wrapper {
    max-width: 1150px;
    margin: auto;
}
.page-title {
    font-family: 'Vollkorn', serif;
    font-size: 40px;
    margin-top: 60px;

}
.page-title a {
    color: black;
}
.page-title a:hover {
    color: #9a825f;
}
.page-header {
    display: flex;
    justify-content: space-between;
}
.top-nav {
    display: flex;
    list-style: none;
    font-size: 1.5rem;
	font-family: 'Vollkorn', serif;
    font-weight: bold;
    margin-top: 79px;
}
.top-nav li {
    margin-left: 40px;
}
.top-nav a {
    color: black;
}
.top-nav a:hover {
    color: #9a825f;
}

h2 {
    max-width: 1100px;
    margin: auto;
    margin-top: 50px;
    position: relative;
    padding: 0 65px;
    text-align: center;
}

h2:before {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background: #000;
}

h2 span {
    position: relative;
    padding: 0 1em;
    background: #dbdbdd;
    color: #606030;
}

/*
----------about*/
.page-title-about {
    background: white;
    font-size: 30px;
    font-family: 'Vollkorn', serif;
    font-weight: bold;
}
.content {
    max-width: 700px;
    margin-top: 50px;
}
#content-bg {
    background-image: url(./images/salon2.jpg);
    min-height: 40vh;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3,minmax(240px, 1fr));
    margin-top: 3%;
    margin-bottom: 50px;
}
.item {
    padding: 0 20px;
}
.item-title {
    text-align: center;
    font-size: 20px;
}
.item-info {
    font-size: 13px;  
}

/*
----------nemu*/
#menu-bg {
    background-image: url(images/girl4.jpg);
    min-height: 70vh;
}
.menu-preis {
    display: flex;
    justify-content: space-between;
}
.menu-info {
    list-style: none;
    width: 50%;
    text-align: left;
    font-size: 22px;
    margin: 50px;
 
}
.menu-info2 {
    list-style: none;
    width: 50%;
    text-align: left;
    font-size: 22px;
    margin: 50px;
}
table, td {
    border: none;
}


/*
-----------contact*/
#contact {
    background-image: url(./images/contact.jpg);
    min-height: 100vh;
}
form div {
    margin-bottom: 16px;
}
label {
    font-size: 1.125rem;
    margin-bottom: 10px;
    display: block;
}
input[type="text"],
input[type="mail"],
textarea {
    background: rgba(255,255,255,.5);
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}
input[type="text"],
input[type="mail"] {
    width: 100%;
    max-width: 350px;
}
textarea {
    width: 100%;
    max-width: 350px;
    height: 6rem;
}
input[type="submit"] {
    border: none;
    cursor: pointer;
    line-height: 1;
}
.name-contact {
    text-align: center;
}
.email-contact {
    text-align: center;
}
.message-contact {
    text-align: center;
}
.message-submit {
    text-align: center;
}
.button {
    text-align: center;
    background: #9a825f;
    color: #fff;
    font-size: 1.375rem;
    padding: 15px 20px;
    border-radius: 5px;
}
.button:hover {
    background: #7d694b;
}
#contact-title {
    text-align: center;
}
.content-title {
    font-size: 5rem;
    font-family: "Philosopher", serif;
    font-weight: normal;
    text-transform: none;
}
#location {
    padding: 4% 0;
}
#location .wrapper {
    display: flex;
    justify-content: space-between;
}
#name-shop {
    font-size: 1.375rem;
    font-weight: normal;
    padding: 0 8px 8px;
    border-bottom: 2px #9a825f solid;
}
.location-info {
    width: 22%;
}
.location-info p {
    padding: 12px 10px;
}
.location-map {
    width: 74%;
}
iframe {
    width: 100%;
}

/*
----------footer*/
footer {
    text-align: center;
    background: #9a825f;
    padding: 26px 0;
}
footer p {
    font-size: 0.875rem;
}

/*
----------mobile*/
@media (max-width: 600px) {
    .page-title {
        margin-top: 5px;
    }
    .page-title a {
        font-size: 2rem;
    }
    .page-header {
        flex-direction: column;
        align-items: center;
    }
    
    /* header */
    .top-nav {
        font-size: 1.1rem;
        margin-top: -15px;
    }
    .top-nav li {
        margin: 0 15px;
    }

    /* home */
    h2 {
        margin-top: 10px;
        font-size: 20px;
    }
    
    /* about */
    .page-title-about {
        font-size: 20px;
    }
    .content {
        max-width: 320px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .content p {
        font-size: 14px;
    }
    footer p {
        font-size: 10px;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(2,minmax(200px, 1fr));
    }
    .item {
        margin-top: 10px;
    }
    .item-title {
        font-size: 15px;
        font-weight: bold;
    }
    .item-info {
        font-size: 12px;
    }
    
    /* contact */
    #contact-title {
        font-size: 40px;
        font-weight: bold;
    }
    input[type="text"],
    input[type="mail"] {
        width: 100%;
        max-width: 300px;
}
    textarea {
        max-width: 300px;
        width: 100%;
        height: 6rem;
    }
    #name-shop {
        font-weight: bold;   
    }
    #location .wrapper {
        flex-direction: column;
    }
    .location-info,
    .location-map {
        width: 100%;
    }
    #location-wrapper {
        text-align: center;
    }
    .location-map {
        margin-bottom: -23px;
    }
    
    /* menu */
        #menu-bg {
            background-position: left 22% top 5%;
        }
        .menu-info td {
            font-size: 10px;
        }
        .menu-info2 td {
            font-size: 10px;
        }
}


